<label>Server Name</label>
<!-- 
  Two way binding: `ngModel` is a built-in directive that allows you to bind
  the value of an input to a variable.
 -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- 
  Disable button until `allowNewServer` is changed to true. This happens when 
  button is clicked and `onCreateServer` is called.
 -->
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
  Add Server
</button>

<!-- 
  `ngIf` is another built-in directive. It is a structural directive (reason for the *) 
  meaning it changes the structure of the DOM. It either adds this element or it doesn't.
  It has to return a boolean.

  Important to note that it doesn't always exist in the DOM. It's either added or removed.
  The below paragraph only enters the DOM once the button is clicked and `serverCreated` turns true.
-->
<br>
<p *ngIf="serverCreated"><br>Server was created, server name is {{ serverName }}</p>

<!-- 
  `ngFor` is a structural directive. Define a temporary variable using let, then iterate over
  the property `servers` defined to an array in the TS file.
 -->
<br>
<app-server *ngFor="let server of servers"></app-server>